/* Common Button Styles */
.whatsapp-button,
.enquiryfloat-button,
.Quick-Order {
  position: fixed;
  bottom: 20px; /* Positioned at the bottom */
  right: 10px;
  /* color: white; */
  border-radius: 50%;
  width: fit-content; /* Button size */
  height: auto; /* Button size */
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 0 10px rgba(37, 211, 102, 0.5); */
  font-size: 20px;
  text-decoration: none;
  z-index: 1000; /* Ensure visibility above other elements */
  transition: box-shadow 0.3s ease, transform 0.2s ease-in-out;
}
.Quick-Order {
  background-color: transparent;
  bottom: 210px; /* Reduced space */
  box-shadow: none;
}

.Quick-Order img {
  width: 60px;
  height: 45px;
}
/* Positioning of Buttons */
.whatsapp-button {
  bottom: 140px; /* Positioning close to the bottom */
  background: none;
  width: fit-content;
}





.enquiryfloat-button {
  bottom: 400px; /* Enquiry button position, 70px below WhatsApp */
  background-color: #c67e00; /* Enquiry button color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 0 20px rgba(182, 127, 0, 0.5); /* Initial glow */
}

/* Hover Effect */
.whatsapp-button:hover, .enquiryfloat-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 30px rgba(37, 211, 102, 1); /* Enhanced glow on hover */
}

/* Tooltip CSS */
.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 60px; /* Adjusted for smaller buttons */
  white-space: nowrap;
  z-index: 1005;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 12px; /* Reduced tooltip font size */
}

.whatsapp-button:hover .tooltip,
.enquiryfloat-button:hover .tooltip,
.Quick-Order:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .whatsapp-button, .enquiryfloat-button, .Quick-Order {
    width: 30px; /* Button size */
    height: 30px; /* Button size */
    font-size: 10px;
  }

  .whatsapp-button {
    bottom: 180px; /* Reduced bottom margin for mobile */
  }

  .enquiryfloat-button {
    bottom: 120px;
  }

  .Quick-Order {
    bottom: 240px;
  }

  .whatsapp-button, .enquiryfloat-button, .Quick-Order {
    right: 15px;
  }
}
